@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Montserrat:ital,wght@0,100;1,100&display=swap');

@font-face {
  font-family: "LT Remark";
  src: url("../assets/fonts/LT Remark/LTRemark-May2021.otf");
  font-weight: 400;
}

@font-face {
  font-family: "mr_HamiltoneG";
  src: url("../assets/fonts/mr_hamiltoneg.ttf");
  font-weight: 400;
}